.footer {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 3px;
    background-color: var(--black);
    color: var(--white);
    margin-top: 20px;
}

@media (max-width:700px) {
    .footer-div {
        margin-bottom: 0;
        text-align: center;
    }
}

@media (max-width:350px) {
    .footer-div {
        margin-bottom: 0;
        
    }
}